{% extends 'base.html' %}

{% block title %}Bienvenida{% endblock %}

{% block content %}
    <!-- TEXTO -->

            <section>

                <span class="badge">
                    SISTEMA DE GESTIÓN DE BIBLIOTECA
                </span>


                <h1>
                    Bienvenido a
                    <span>BiblioHub</span>
                </h1>


                <h2>
                    Todo tu mundo de libros, en un solo lugar.
                </h2>


                <p class="hero-description">

                    BiblioHub es una plataforma diseñada para
                    gestionar de manera sencilla el catálogo de libros,
                    usuarios y préstamos de una biblioteca.

                </p>


                <div class="buttons">

                    <a href="#" class="btn btn-primary">
                        📚 Explorar catálogo
                    </a>

                    <a href="#" class="btn btn-secondary">
                        Iniciar sesión
                    </a>

                </div>


                <!-- CARACTERÍSTICAS -->

                <div class="features">

                    <div class="feature">

                        <span class="feature-icon">
                            📖
                        </span>

                        <span>
                            Catálogo
                        </span>

                    </div>


                    <div class="feature">

                        <span class="feature-icon">
                            👥
                        </span>

                        <span>
                            Usuarios
                        </span>

                    </div>


                    <div class="feature">

                        <span class="feature-icon">
                            🔄
                        </span>

                        <span>
                            Préstamos
                        </span>

                    </div>

                </div>

            </section>


            <!-- ILUSTRACIÓN -->

            <section class="illustration">

                <div class="book-card">

                    <div class="books">
                        📚
                    </div>


                    <div class="floating-card card-users">
                        👥 Usuarios registrados
                    </div>


                    <div class="floating-card card-books">
                        📖 Catálogo de libros
                    </div>

                </div>

            </section>
{% endblock %}